/* src/index.css */
@import 'tailwindcss';

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.PhoneInputInput {
    border: none;
    outline: none;
}

.grid { 
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
}

body {
  margin: 0;
  padding: 0;
}